######################################
# cp ./.env.example ./.env
######################################


# Django
SECRET_KEY= # python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DEBUG= # True False
ALLOWED_HOSTS= # localhost,127.0.0.1

# Database
DATABASE_URL=postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}
DB_NAME=ecommerce
DB_USER=ecommerce
DB_PASSWORD= # openssl rand -hex 32
